* 
{
    margin: 0;
    padding: 0;
}

:root
{
    --background-color: #877DAD;
    --accent: rgb(226, 0, 226);
    --color-correct: rgb(162, 0, 255);
}

@font-face {
    font-family: "Agency FB Bold";
    src: url("fonts/AgencyFB-Bold.ttf");
}

html {
    width: auto;
    height: auto;
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color);
    font-size: 1.3rem;
    font-family: "Agency FB Bold";
    color: black;
    margin: 0.5rem;
}

.headers h1, .headers h2
{
    margin: 0 0 1rem;
}

#timer {
    text-align: center;

}

#game-buttons {
    display:flex;
}

#coral
{
    background-image: url("images/coral.png");
    display: flex;
    flex-direction: column;

    width: 20rem;
    height: 19rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}    

.level
{
    background-color: rgba(0, 0, 0, 0);
    flex-grow: 1;
    color: var(--accent);
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.level:hover
{
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px black;
    font-size: 1.5rem;
}

.level button
{
    font-size: 1.2rem;
    border-radius: 10%;
    background-color: var(--accent);
    border: solid 1px black;
    color: white;
    transition: all 0.2s ease;
    padding: 0.2rem 0.5rem;
}

.level button:hover
{
    background-color: white;
    color: var(--accent);
    scale: 105%;
    font-size: 1.3rem;
}

.num-score
{
    color: var(--accent);
    position: absolute;
    right: 0;
    bottom: 0;
}

#algae {
    width:20rem;
    height:19rem;
    display:flex;
    flex-direction:column;
}

#algae button {
    flex-grow: 1;
    font-weight: bold;
}

#endgame-buttons {
    display:flex;
    flex-direction:column;
}

#tags {
    display:flex;
    flex-direction:column;
}

.tag-select {
    height:2rem;
    margin:0.15rem; 

    display: inline-flex;
    flex-direction: row;
    
    position:relative;
    align-items:start;
    justify-items:start;
}

.tag-select button {
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    
    text-align:center;
    border-radius: 10%;

    color:white;
    background-color:var(--accent);
    

    transition: all 0.2s ease;
}

.tag-select button:hover {
    scale: 110%;
    color: var(--accent);
    background-color: white;
}

.tag-display {
    display:inline-flex;
    flex-direction:row;
    list-style:none;
}

.tag-display li {
    padding:0.1rem;
    margin:0.1rem;
    
    background-color:white;
    /* TODO - Pick a font that thematically fits for tags */
    

    transition: all 0.5s ease;
}

.tag-display li:hover {
    background-color: rgb(225, 225, 225);

    scale:105%;
}

.tag-dropdown {
    margin:0.1rem;
    padding:0.25rem;
    display:none;
    position:absolute;
    background-color:white;
    overflow:auto;
    z-index:1;
    
    font-size:1rem;
    font-style: normal;

    transition: all 0.5s ease;
}

.tag-dropdown li:hover {
    background-color:rgb(225, 225, 225);
}

select {
    overflow-y:auto;
}

#codes {
    visibility:hidden;
}

.b1
{
    background-color: var(--accent);
    padding: 0.5rem;
    color: white;
    transition: background-color 0.15s ease, color 0.15s ease, translate 0.1s ease-out;
    margin: 1rem 0;
    border-radius: 10%;
    font-size: 1.4rem;
}
.b1:hover
{
    background-color: white;
    color: var(--accent);
    translate: 0 -0.15rem;
    scale: 101%;
}

.show {
    display:block;
}

#large-container
{
    display:none;
    visibility:hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cont
{
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.558)
}

.pressed
{
    background-color: var(--color-correct);
    animation: color-change 0.4s 1;  
    scale: 110%;
}
@keyframes color-change
{
    from {
        background-color: var(--color-correct);
        scale: 110%;
    }
    to {
        background-color: white;
        scale: 100%;
    }
}