* 
{
    margin: 0;
    padding: 0;
}

:root
{
    --background-color: #877DAD;
    --accent: rgb(226, 0, 226);
    --color-correct: rgb(162, 0, 255);
}

@font-face {
    font-family: "Agency FB Bold";
    src: url("fonts/AgencyFB-Bold.ttf");
}

html {
    width: auto;
    height: auto;
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color);
    font-size: 1.3rem;
    font-family: "Agency FB Bold";
    color: black;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregame {
    scale: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headers h1, .headers h2
{
    margin: .5rem 1rem 2rem 1rem;
}

#starter {
    height: 4rem;
    width: 20rem;

    font-size: 2rem;

    align-items: center;
    justify-items: center;
}

#timer {
    text-align: center;

}

#game-buttons {
    display:flex;
    justify-content: center;


    width: 80vw;
    height: 80vh;
}

#coral
{
    background-image: url("images/coral.png");
    display: flex;
    flex-direction: column;

    min-width: 75%;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}    

.level
{
    background-color: rgba(0, 0, 0, 0);
    flex-grow: 1;
    color: var(--accent);
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 4vh;

    position: relative;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.level:hover
{
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px black;
    font-size: 6vh;
}

.level button
{
    height: 8vh;
    width: 8vh;
    font-size: 6vh;
    border-radius: 10%;
    background-color: var(--accent);
    border: solid 1px black;
    color: white;
    transition: all 0.2s ease;
    padding: 0.vh 0.5vw;

}

.level button:hover
{
    background-color: white;
    color: var(--accent);
    scale: 120%;
    font-size: 8vh;
}


.num-score
{
    color: var(--accent);
    position: absolute;
    right: 0;
    bottom: 0;
}

#algae {
    /* width:20rem;
    height:19rem; */
    min-width: 25%;
    display:flex;
    flex-direction:column;
}

@media screen and (max-width: 800px)
{
    #game-buttons {
        flex-direction: column;
        align-items: center;

        margin: 5vh;
    }

    #coral {
        min-width: 100%;
        min-height: 80%;

        margin: 0px;
    }

    #algae {
        min-width: 100%;
        min-height: 20%;
        display: inline-flex;
        flex-direction: row;

        align-items: space-evenly;
        justify-items: center;
    }

    #algae button {
        width: 50%;

        margin: 0px;
    }
}

#algae button {
    flex-grow: 1;
    font-weight: bold;
}

#endgame-buttons {
    display: flex;
    flex-direction: column;

    width: 40vw;
    height: 40vh;   

    font-size: 6vh;

    margin-bottom: 8vh;
}

#end-position {
    display: flex;
    flex-direction: column;

    margin-top: 1vh;
}

#position-select {
    height: 8vh;
    
    font-size: 5vh;
    font-family: "Agency FB Bold";
}

/* select {
    background-color: rgb(162, 0, 255)
} */

#tags {
    display:flex;
    flex-direction:column;
}

.tag-select {
    /* height: 8vh; */
    /* margin: 1vh;  */

    display: inline-flex;
    
    position: relative;
    align-items: center;
    justify-items: start;
}

.tag-select button  {
    font-size: 6vh;
    height: 8vh;
    width: 8vh;

    margin: 0.5vh;

    text-align:center;
    border-radius: 15%;

    color:white;
    background-color:var(--accent);
    

    transition: all 0.2s ease;
}

.tag-button:hover {
    scale: 110%;
    color: var(--accent);
    background-color: white;
}

.tag-display {
    display:inline-flex;
    flex-direction:row;
    list-style:none;
}

.tag-display li {
    font-size: 5vh;

    padding:0.1rem 0.3rem;
    margin: 0.5vh;

    text-align: center;

    /* height:20px; */
    /* width:100px; */
    
    background-color:white;
    /* TODO - Pick a font that thematically fits for tags */
    
    border-radius: 2vh;
    overflow:hidden;
    
    transition: all 0.25s ease;
}

.tag-display li:hover {
    background-color: rgb(225, 225, 225);
    
    scale:105%;
}

.tag-dropdown {
    margin:0.1rem;
    /* padding:0.25rem; */
    display:none;
    position:absolute;
    background-color:white;
    overflow:auto;
    z-index:1;


    align-self: start;
    
    border-radius: 1vh;

    font-size: 5vh;
    font-style: normal;

    transition: all 0.5s ease;
}

.tag-dropdown li {
    padding: 0.5vh;
}

.tag-dropdown li:hover {
    background-color:rgb(0, 115, 225);
    color: white;
}

select {
    overflow-y:auto;
}

#codes {
    visibility:hidden;
    align-items: center;
    justify-items: center;
}

.b1
{
    background-color: var(--accent);
    padding: 0.5rem;
    color: white;
    transition: background-color 0.15s ease, color 0.15s ease, translate 0.1s ease-out;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-size: 6vh;
}

.b1:hover
{
    background-color: white;
    color: var(--accent);
    translate: 0 -0.15rem;
    scale: 101%;
}

.show {
    display:block;
}

#large-container
{
    display:none;
    visibility:hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}



.cont
{
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.558)
}

.pressed
{
    background-color: var(--color-correct);
    animation: color-change 0.4s 1;  
    scale: 110%;
}

@keyframes color-change
{
    from {
        background-color: var(--color-correct);
        scale: 110%;
    }
    to {
        background-color: white;
        scale: 100%;
    }
}